.btn {
        width: 100%;
    background: #2962ff;
    text-align: center;
    border-radius: 7px;
    border: none;
    padding: 15px;
    color: white;
    font-size: 18px;
    outline: none;
    margin-bottom: 10px;
}
.btn:disabled {
        background: lightgray;
    color: gray;
}