 <div>
    <div><mat-label>{{ label }}</mat-label>
        </div>
<mat-form-field appearance="outline">
  <span *ngIf="prefix" matPrefix>{{prefix}}</span>
  <input
     (change)="changeValue($event)"
     [type]="hide ? type : type=='password'?'text':type" 
    class="form-control"
    [placeholder]="placeholder"
    [id]="id"
    [required]="required"
    [name]="name"
    [formControl]="control"
    matInput
  />
    <button *ngIf="type=='password'" mat-icon-button 
          matSuffix 
          (click)="hide = !hide" 
          [attr.aria-label]="'Toggle password visibility'" 
          [attr.aria-pressed]="!hide" 
          type="button">
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
   <mat-error *ngIf="showError">{{errorMessage}}</mat-error>
</mat-form-field>
</div>