<div>
  <mat-label>{{ label }}</mat-label>
  <mat-form-field appearance="outline">
    <mat-select
      class="form-control"
      [placeholder]="placeholder"
      [formControl]="control"
      [id]="id"
      [required]="required"
      (selectionChange)="onSelectionChange($event.value)"
    >
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="showError">{{ errorMessage }}</mat-error>
  </mat-form-field>
</div>
