.profile_card {
  height: 30vh;
  background-color: #1E47FF;
  border-bottom-right-radius: 10px ;
  border-bottom-left-radius: 10px ;
  position: relative;
}
.balance_card {
    width: 70%;
    background-color: #2D5EFF ;
    position: relative;
    top: 80px;
    height: 250px;
    margin: auto;
    border-radius: 15px;
}